<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>乐宝家长端发作业抽奖</title>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
	<style>
		body{
			background-color: #e0efea;
		}
	</style>

</head>
<body>
	 
	<div class="home-warp">
		
		<div id="gz" class="guize">
			规则
		</div>
		<div id="zj" class="iszj">
			您已中奖
		</div>

		<div class="home-top">
			<img src="../images/home-top.jpg" alt="">
		</div>

		<div class="home-video">
			<div class="home-video-img">
				<img src="../images/video-bg.jpg" alt="">
			</div>
			<video src=""></video>
		</div>

		<div class="home-text">
			即日起乐宝推出“分享赢好礼”活动，分享乐乐小画仙家庭版课程介绍或乐乐小画仙美术作业即有机会获得价值120元BBC科学课堂延伸家庭实验《七彩音乐盒》制作材料包一份!
		</div>

		<div class="home-bottom">
			<img src="../images/home-bottom1.jpg" alt="">
		</div>
		<div class="home-bottom b2">
			<img src="../images/home-bottom2.jpg" alt="">
		</div>
		<div id="tovx" class="home-bottom b3">
			<img src="../images/home-bottom3.jpg" alt="">
		</div>

		<div id="shareopen" class="float-bottom">
			<img src="../images/share-button.jpg" alt=""> 
		</div>

	</div> 


	<!--mask-->
	<div id="mask" class="mask">
		
	</div>
	<!--mask-->

	<!--规则-->
	<div id="guize" class="guize-tip">
		<div class="guize-tip-cont">
			<div class="guize-tip-cont-title">
				<img src="../images/gz.jpg" alt="">
			</div>
			<div class="guize-tip-cont-txt">
				即日起乐宝推出“分享赢好礼”活动，分享乐乐小画仙家庭版课程介绍或乐乐小画仙美术作业即有机会获得价值120元BBC科学课堂延伸家庭实验《七彩音乐盒》制作材料包一份！
			</div>
			
			<div class="guize-tip-cont-time">
				<div class="guize-tip-cont-time-pic">
					<img src="../images/time.jpg" alt="">
				</div>
				<div class="guize-tip-cont-time-text">
					即日起至奖品<span>送完为止</span>
				</div>
				<div class="guize-tip-cont-time-text">
					本次活动所有权归乐宝所属
				</div>
					
				<div class="guize-tip-cont-time-img"> 
					<img src="../images/workList-los.png" alt="">
				</div>

			</div>

			<div id="know" class="guize-tip-cont-button">
				知道了
			</div>

		</div>
	</div>
	<!--规则-->

	<!--中奖信息-->
		<div id="zjinfo" class="guize-tip zj-info">
			<div class="guize-tip-cont">
				<div class="guize-tip-cont-title gx">
					<img src="../images/gxn.jpg" alt="">
				</div>

				<div class="zj-info-pic">
					<img src="../images/jp.jpg" alt="">
				</div>

				<div class="guize-tip-cont-txt mt10">
					您已获得价值120元BBC科学课堂延伸家庭实验《七彩音乐盒》制作材料包一份！
				</div>

				<div id="know2" class="guize-tip-cont-button">
					知道了
				</div>
			</div>
		</div>
	<!--中奖信息-->


	<!--分享弹框-->
		<div id="shareinfo" class="guize-tip share-info">
			<div class="guize-tip-cont">
				
				<div id="close2" class="shareClose">
					<img src="../images/home-close.png" alt="">
				</div>

				<div class="guize-tip-cont-title share">
					<img src="../images/share-haoli.png" alt="">
				</div>

				<div class="guize-tip-cont-txt mt10">
					完成任意一个任务即可参与刮奖，每天有两次机会哦！
				</div> 

				<div class="renwu-text">任务一</div>

				<div class="guize-tip-cont-txt mt0">
					分享创意美术课至微信朋友圈，返回乐宝App即可刮奖。
				</div>

				<div id="shareA" class="guize-tip-cont-button share">
					分享创意美术课介绍
				</div>

				<div class="lins"> 
					<div class="borders"></div>
				</div>

				<div class="renwu-text">任务二</div>

				<div class="guize-tip-cont-txt mt0">
					完成小画仙作业并转发至朋友圈，返回乐宝App即可刮奖。
				</div>
				<div id="share" class="guize-tip-cont-button share">
					分享宝贝作品
				</div>

			</div>
		</div>
	<!--分享弹框-->

</body>
<script>
		var bt = navigator.userAgent.toLowerCase();
		if (bt.match(/(android)\s+([\d.]+)/)) {
			window.JSCall.fetchTokenOnly();
		} else {
			window.location.href = "lebaoedu://fetchTokenOnly";
		}
		function getTokenFromApp(token) {
			document.getElementsByTagName('body')[0].setAttribute('token',token);
			$.ajax({
				url :'https://test.api.lebaoedu.com/Api/PclassWorkShare/getcheck/',
				method :'POST',
				data : 'token=' + token,
				dataType : 'json',
				success :function(data){
					if (data.data.is_winning == 1) {
						$('#zj').show();
					} else {
						$('#zj').hide();
					}
				},
				error : function(xhr,status,error){
					 
				}
			});

		}
</script>
</html>
